<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.heccoder.libretag">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Para SDK 15 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_ppl"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="com.application.heccoder.libretag.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- intent-filter para explorador de archivos -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.hltg"
                    android:scheme="file" />
            </intent-filter>

            <!-- intent-filter para aplicaciones como WhatsApp -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/hltg" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.heccoder.libretag.Workspace"
            android:configChanges="orientation|screenSize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.application.heccoder.libretag.DimCanvas"
            android:theme="@style/Emergente" />
        <activity
            android:name="com.application.heccoder.libretag.CrearArchivo"
            android:theme="@style/Emergente" />
        <activity
            android:name="com.application.heccoder.libretag.SalirSinGuardar"
            android:theme="@style/Emergente" />
        <activity android:name="com.application.heccoder.libretag.AyudaPaint"
            android:theme="@style/Emergente" />
    </application>

</manifest>